.connect-button {
    color: black;
    background-color: transparent;

}

.connect-button:hover {
    color: rgb(187, 0, 187);
    background-color: transparent;
}

.content > * {
  padding: 2.5rem calc(3.5rem + 5px);
  max-width: calc(1400px + 3.5rem * 2);
  margin: 0 auto;
}
.activity__head {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 23px;
}

.dashboard {
  width: 100%;
}


.dashboard__right {
  flex-basis: 0;
  flex-grow: 1;
  margin-left: 80px;
}


.activity {
  margin-top: 25px;
}


.dashboard__left {
  margin-top: 2px;
  flex-basis: 0;
  flex-grow: 1.5;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.dashboard__main {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px 0;
  margin-top: 5px;
}


.activity-item--send .activity-item__indicator {
  background-color: hsla( var(--border-color-dark--h), var(--border-color-dark--s), var(--border-color-dark--l), 0.55 );
  color: #b2b0c8;
}

.activity-item--send .activity-item__indicator {
  background-color: hsla( var(--border-color-dark--h), var(--border-color-dark--s), var(--border-color-dark--l), 0.55 );
  color: #b2b0c8;
}


.activity-item__date {
  font-size: 0.813rem;
  line-height: 1.1;
  font-weight: 500;
  color: hsla( var(--text--h), var(--text--s), var(--text--l), 0.8 );
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 15rem;
  margin-top: 0.313rem;
}


.activity-item__title {
  font-size: 0.938rem;
  line-height: 1.1;
  font-weight: 600;
  color: var(--text);
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 15rem;
}

.activity-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0.938rem;
  transition: all 0.125s;
  text-decoration: none;
  position: relative;
  border-bottom: solid 1px transparent;
}


.activity-item__info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}


.activity-item--send .activity-item__indicator {
  background-color: hsla(
    var(--border-color-dark--h),
    var(--border-color-dark--s),
    var(--border-color-dark--l),
    0.55
  );
  color: #b2b0c8;
}


.activity-item--receive .activity-item__indicator {
  background-color: hsla(
    var(--success--h),
    var(--success--s),
    var(--success--l),
    0.2
  );
  color: var(--success);
}

.activity-item--receive .activity-item__indicator-icon {
  transform: rotate(45deg);
}

.activity-item--receive .activity-item__amount--hidden div div {
  background-color: var(--success);
}

.activity-item--receive .activity-item__amount  {
  color: var(--success)!important;
}

.activity-item--send .activity-item__amount-token-icon {
  filter: grayscale(0.5);
  opacity: 0.5;
}

.activity-item--send .activity-item__amount--hidden div div {
  background-color: #b2b0c8!important;
}

.activity-item--send .activity-item__amount {
  color: #b2b0c8;
}



.activity-item--send .activity-item__indicator-icon {
  transform: rotate(-135deg);
}


.activity-item__indicator {
  height: 2.875rem;
  width: 2.875rem;
  min-width: 2.875rem;
  border-radius: 12px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.activity-item__content {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.938rem;
  padding-right: 0.625rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

.token-activity .card {
  background: white;
  box-shadow: var(--shadow);
  border-radius: 15px;
  border: none;
  width: 100%;
  overflow: hidden;
}



.account-selector-box--nav {
    display: flex;
}


.nav-account {
    background: linear-gradient( 0deg, rgb(250 248 255) 0%, rgb(217 211 235) 100%);
    height: 2.5em;
    background-color: #f3f0f8;
    box-shadow: 0.2em 0.2em 1.5em #e2def1;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 99px;
    display: flex;
}


.nav-account__balance {
    padding-top: 1px;
}


/* Container for network buttons */
.network-switch-container {
    display: flex;
    width: 200px; /* Adjust width as needed */
    height: 34px;
    border-radius: 34px;
    overflow: hidden;
    background-color: #f0f0f0; /* Background color for the switch container */
  }
  
  /* Individual network button styles */
  .network-button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    height: 100%;
    background-color: #742cb2; /* Default background color */
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  /* Background color for the selected network */
  .network-button.selected {
    background-color: #ffffff; /* Background color when selected */
    color: #742cb2; /* Text color for selected network */
  }
  
  /* Margin for buttons */
  .network-button:first-child {
    margin-right: -1px; /* Remove double border effect */
  }
  
  .network-button:last-child {
    margin-left: -1px; /* Remove double border effect */
  }
  
  
  
  .network-switching {
    background: var(--bg);
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .network-switching.enter {
    opacity: 0;
    transform: scale(0.8);
  }
  
  .network-switching.enter-active,
  .network-switching.enter-done,
  .network-switching.exit {
    opacity: 1;
    transform: none;
  }
  
  .network-switching.exit-active {
    opacity: 0;
    transform: scale(0.8);
  }
  
  .network-switching.exit-active {
    transition: all 0.4s 1.1s;
  }
  
  .network-switching .uik-text {
    margin-top: 25px;
    animation: network-switching-text 0.3s;
  }
  
  @keyframes network-switching-text {
    from {
      opacity: 0;
      transform: scaleY(0.5);
    }
  }
  
  .network-switching .uik-icon {
    width: 50px;
    color: var(--success);
    animation: network-switched 0.3s;
  }
  
  @keyframes network-switched {
    from {
      transform: scale(0.6);
    }
  }